	h1{
			text-align:center ! important;
		}
#first{
font-style: italic;
}
#p1{
	background-color: pink;
	width:40px;
	height:20px;
	border: 1px solid black;
	float:right;
	padding-top:0px;
	padding-right: 0px;
}
#p2{
	background-color: maroon;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:right;
	padding-top:0px;
	padding-right: 0px;
}
#p3{
	background-color: yellow;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:right;
	padding-top:0px;
	padding-right: 0px;
}
.box{
background-color: lightblue;
padding:10px;
border:2px solid black;
width:33.33%;
margin-right:30px;
margin-top:20px;
margin-bottom: 30px;
float: left;
text-align: center;
}
*{
	box-sizing:border-box;
}
 @media only screen and (max-width: 992px){
#first{
float:left;
}
#second{
	float:left;
}
#third{
	float:left;
}
#b1,#b2,#b3{
	float:left;
}
body{
	display:flex;
}
}
 @media only screen and (max-width: 991px) and (min-width: 768px){
#b1,#b2{
	width: 50%;
}
#b3{
	width: 100%;
}
}
 @media(max-width: 767px){
#b1{
	width: 100%;
}
#b2{
	width: 100%;
}
#b3{
	width: 100%;
}
}
