	h1{
			text-align:center;
		}
#first{
font-style: italic;
font-color:red;
padding: 10px;
}
#p1{
	background-color: pink;
	width: 50px;
	height: 20px;
	border: 1px solid black;
	float:left;
}
#p2{
	background-color: maroon;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:left;
}
#p3{
	background-color: yellow;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:left;
}
.box{
background-color: lightblue;
padding:10px;
border:2px solid black;
width:30%;
margin-right:30px;
margin-top:20px;
margin-bottom: 30px;
overflow:auto;
float:right;
}
*{
	box-sizing:border-box;
}
 @media(max-width: 992px){
{
float:left;
}
}
 @media(max-width: 991px)and (min-width: 768px){
#second{
	float:right;
}
}
 @media(max-width: 767px){
#third{
	clear:left;
}
}
