	h1{
			text-align:center;
		}
#first{
font-style: italic;
}
#p1{
	background-color: pink;
	width: 50px;
	height: 20px;
	border: 1px solid black;
	float:right;
}
#p2{
	background-color: maroon;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:right;
}
#p3{
	background-color: yellow;
	width: 40px;
	height: 20px;
	border: 1px solid black;
	float:right;
}
.box{
background-color: lightblue;
padding:10px;
border:2px solid black;
width:30%;
margin-right:30px;
margin-top:20px;
margin-bottom: 30px;
overflow:auto;
float:left;
}
*{
	box-sizing:border-box;
}
 @media(max-width: 992px){
#first{
float:left;
}
#second{
	float:left;
}
#third{
	float:left;
}
#b1,#b2,#b3{
	float:left;
}
}
 @media(max-width: 991px)and (min-width: 768px){
 	#first{
 		float:left;
 	}
#second{
	float:left;
}
	#third{
clear:left;
	}
#b1,#b2{
	float:left;
	width: 50%;
}
#b3{
	clear:left;
	width: 100%;
}
}
 @media(max-width: 767px){
 	#first{
float:left;
 	}
#third{
	float:left;
}
	#second{
		float:left;
	}
#b1{
	float:left;
	width: 100%;
}
#b2{
	clear: :left;
	width: 100%;
}
#b3{
	clear:left;
	width: 100%;
}
}